.App {
  max-width: 1200px;
  margin: 0 auto;
}

/* Map component */

.map-component {
  padding: 20px;
}

.map-component h2 {
  margin: 5px 0;
}

.map-component h3 {
  margin: 2px 0;
}

.map-component h4 {
  margin: 0;
}

.map-component a {
  display: block;
  margin: 5px 0;
}

.map-component > form {
  margin: 80px 0 0 0;
  border: 1px solid black;
  padding: 10px 10px 10px;
}

.map-component > form .pContainer {
  margin: 5px 0;
  padding: 3px 0;
}

.map-component > form p {
  margin: 5px 0;
}

.map-component > form > label {
  margin-right: 10px;
}

.map-component > form #cost-input {
  border: 3px solid black;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  width: 60px;
}

.map-component > form .pdfButton {
  margin-right: 10px;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.map-component .map-container > div:first-child {
  height: 90% !important;
}

.map-component .map-container > div:last-child > h4 {
  margin-top: 0 !important;
}

/* Form component */

.form-component form {
  display: flex;
  flex-flow: column;
  width: 200px;
}

.form-component form input {
  margin-bottom: 10px;
  margin-top: 3px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
}

.form-component form button {
  margin: 10px 0;
  background-color: white;
  width: 130px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.form-component ul {
  display: flex;
  flex-flow: column;
  gap: 10px;
  list-style-type: none;
  padding-left: 0;
}

.form-component li {
  border: 1px solid black;
  padding: 5px 20px;
}
