.map-component {
  padding: 20px;
}

.map-component > form {
  margin: 100px 0 0 0;
  border: 1px solid black;
  padding: 0px 10px 10px;
}

.map-component > form > label {
  margin-right: 10px;
}

.map-component > form #cost-input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px;
}

.map-component > form .pdfButton {
  margin-left: 10px;
}

.map-component .map-container > div:first-child {
  height: 90% !important;
}

.map-component .map-container > div:last-child > h4 {
  margin-top: 0 !important;
}
